* {
	margin: 0;
	padding: 6px;
	box-sizing: border-box;
	font-family: default, sans-serif;
}

body {
	display:flex;
	min-height: 100vh;
	min-width: 100vh;
	background: #0c192c;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
}

.conatainer {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.bubble {
	position: relative;
	display:flex;

}
.bubble span{
	background-size: cover;
	position: relative;
	width: 15px;
	height: 15px;
	background: #4fc3dc;
	margin: 0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #4fc3dc44,
	 0 0 50px #4fc3dc,
	 0 0 100px #4fc3dc ;
	 animation: animate 15s linear infinite;
	 animation-duration: calc(125s/ var(--i));
}
.bubble span:nth-child(even){
	background: #ff2d75;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #ff2d7544,
	 0 0 50px #ff2d75,
	 0 0 100px #ff2d75 ;
}
@keyframes animate {
	0%
	{
		transform: translateY(100vh) scale(0);
	}
	100%
	{
		transform: translateY(-10vh) scale(1);
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 5px 10px 0px 5px;
	background: e;
	display: flex;
	justify-content: space-between;
	;
	align-items: center;
	z-index: 99;

}

#logo {
	position: absolute;
	margin-left: 3px;
}

.navigation a {
	position: relative;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	font: weight 500;
	margin-left: 40px;
}

.navigation a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 2px;
	background: white;
	border-radius: 5px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform.5s;
}

.navigation a:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}


.navigation .btnLogin-popup {
	width: 120px;
	height: 40px;
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;

	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}

.navigation .btnLogin-popup:hover {
	background-color: #fff;
	color: #162938;
}

.navigation .btnLogin-popup.logo {
	position: absolute;
	left: 0;
	bottom: -6px;

	margin-left: 3px;
}